{% extends 'notes/base.html' %} {% load crispy_forms_tags %} {% load static %} {% block content%}

<div class="row">

    <div class="col-md-3">
    </div>
    <div class=" col-md-6 container text-center m-4">
        <div class="container">
            <a href="{% url 'home'%}" class="text-teal nav-link"> <i class="bi bi-arrow-left"></i> Back</a>
            <div class="card m-3 container text-justify mr-5 shadow-sm  ">
                <div class="row">
                    <div class="col-md-8">
                        <h6 class="m-2 p-1 text-teal">{{note.title|upper}}</h6>
                    </div>
                    <div class="col-md-3 row ">

                        <div class="col-md-6">

                            <a href="{% url 'delete' note.id %}" data-toggle="tooltip" data-placement="top" title="Delete" class="nav-link"><i class="fa fa-trash text-danger"></i></a>

                        </div>
                        <div class="col-md-6">
                            <a href="{% url 'update' note.id %}" data-toggle="tooltip" data-placement="top" title="Edit" class="nav-link"><i class="fa fa-edit"> </i></a>

                        </div>




                    </div>

                </div>

                <p class="m-1 p-1">{{note.note|safe|linebreaksbr}}</p>

                <div class="">
                    <span class="text-muted"><p class="m-2 p-1">{{note.date|timesince}} ago</p>
          </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3">
</div>
</div>
{% endblock content%}